{% extends 'base.html' %}
{% load static  %}

{% block title %} Clientes {% endblock %}

{% block main %}

    <div class="card card-top">
        <div class="card-header">
          <div class="row">
            <div class="col-3 mr-auto">
                      Lista de Clientes
                </div>
                    <div class="col-auto">
                      <a role="button" class="btn btn-sm btn-primary" href="{% url 'NovoCliente' %}">Add novo Cliente</a>
                    </div>
                </div>
            </div>
        <div class="card-body">
                <table id="clientes" class="table table-hover table-bordered">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Nome</th>
                      <th>SobreNome</th>
                      <th>Endereco</th>
                      <th>Idade</th>
                      <th>E-mail</th>
                      <th>CPF</th>
                      <th>Ações</th>
                    </tr>
                  </thead>
              <tbody>
                 {% for cliente in clientes %}
                    <tr>
                        <td>{{ cliente.id }}</td>
                        <td>{{ cliente.nome }}</td>
                        <td>{{ cliente.sobrenome }}</td>
                        <td>{{ cliente.endereco }}</td>
                        <td>{{ cliente.idade}}</td>
                        <td>{{ cliente.email }}</td>
                        <td>{{ cliente.cpf }}</td>
                        <td class="td-icon">
                            <a role="button" href="{% url 'UpdateCliente'  cliente.id %}"> <i class="tiny material-icons ">edit</i></a>
                            <a role="button" href="{% url 'DeleteCliente'  cliente.id %}"><i class="tiny material-icons  icon-delete">delete</i></a>
                        </td>
                    </tr>
                 {%endfor%}
              </tbody>
                  <tfoot>
                    <tr>
                      <th>ID</th>
                      <th>Nome</th>
                      <th>SobreNome</th>
                      <th>Endereco</th>
                      <th>Idade</th>
                      <th>E-mail</th>
                      <th>CPF</th>
                      <th>Ações</th>
                    </tr>
                  </tfoot>
              </table>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script>
        $(document).ready( function () {
          $('#clientes').DataTable();

        });
    </script>
{% endblock %}